{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'submission/css/fade.css' %}">
    <link rel="stylesheet" href="{% static 'submission/css/header.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div id="vue-header-app">
        {% include 'submission/header.html' %}
    </div>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        // Djangoのユーザー情報をグローバルJS変数にしてheader.jsで参照
        var USER_NAME = "{{ request.user.get_full_name|default:request.user.username }}";
        var USER_ROLE = "{% if request.user.is_superuser %}admin{% elif request.user.is_staff %}teacher{% else %}student{% endif %}";
    </script>
    <script src="{% static 'submission/js/header.js' %}"></script>
</body>
</html>
